  /* Add your CSS styles here */
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("admin.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100vw 100vh;
    margin: 0;
}

h2 {
    text-align: center;
    margin-top: 30px;
}

form {
    max-width: 600px;
    margin: 10px auto;
    padding: 20px;
    background-color: #a2a5bde5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.108);
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Style the Submit button */
button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4f578a;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}