<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Alter Booking</title>
  <!-- Link to CSS file -->
  <link rel="stylesheet" href="{{ url_for('static', filename='Alter_Booking.css') }}">
</head>
<body>
  <!-- Alter Booking Container -->
  <div class="button-container">
    <!-- Header -->
    <div class="hone">
      <h1>Alter Booking</h1>
    </div>
    <!-- Booking Details Form -->
   <form action="{{ url_for('alter_booking', booking_id=booking_id) }}" method="POST">
     <input type="hidden" name="booking_id" value="{{ booking_details[0] }}">
      <label for="checkin">Check-In Date:</label>
      <input type="date" id="checkin" name="checkin" value="{{ booking_details[2] }}"><br>
      <label for="checkout">Check-Out Date:</label>
      <input type="date" id="checkout" name="checkout" value="{{ booking_details[3] }}"><br>
      <label for="roomtype">Room Type:</label>
      <select id="roomtype" name="roomtype">
        <option value="Standard Room" {% if booking_details[5] == 'Standard Room' %} selected {% endif %}>Standard Room</option>
        <option value="Double Room" {% if booking_details[5] == 'Double Room' %} selected {% endif %}>Double Room</option>
        <option value="Family Room" {% if booking_details[5] == 'Family Room' %} selected {% endif %}>Family Room</option>
      </select><br>
      <button class="buttonsix" type="submit">Submit Changes</button>
    </form>
  </div>
</body>
</html>
