<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='OpeningPage.css') }}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to Our Hotel Booking Website</title>
 
</head>
<body>
  <div class="container">
    <h1>Welcome to Our Hotel Booking Website</h1>
    <p>Welcome to our hotel booking platform! We're delighted to have you here. Whether you're planning a business trip, a family vacation, or a romantic getaway, we're here to help you find the perfect accommodation tailored to your needs.</p>
    <p>Start planning your next stay with us!</p>
    <a href="/SignUpPage" class="cta-button">Get Started !!</a>
  </div>
</body>
</html>
